//Poppins-Black
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Black.ttf") format("truetype")
  font-weight: 900
  font-style : normal



//Poppins-ExtraBold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype")
  font-weight: 800
  font-style : normal

//Poppins-Bold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype")
  font-weight: 700
  font-style : normal



//Poppins-semiBold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
  font-weight: 600
  font-style : normal


//Poppins-Medium
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype")
  font-weight: 500
  font-style : normal



//Poppins-regular
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype")
  font-weight: 400
  font-style : normal

//Poppins-light
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Light.ttf") format("truetype")
  font-weight: 300
  font-style : normal


//Poppins-ExtraLight
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype")
  font-weight: 200
  font-style : normal


//Poppins-thin
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype")
  font-weight: 100
  font-style : normal


//Futura
@font-face 
  font-family: "Futura"
  src        : url("/fonts/Futura.ttc") format("truetype")
  font-weight: 400
  font-style : normal


.ltr
    direction: ltr

.max-tablet
    display: none !important
    +m
        display: block !important

.d-flex
    @include dis-flex

.flex-end
    @include dis-flex
    justify-content: flex-end

*
    scrollbar-color: $dark1 $dark1
    scrollbar-width: thin

::-webkit-scrollbar-track
    background-color: $dark2

::-webkit-scrollbar
    width: 0px
    border-radius: 20px
    background-color: $dark2
    height: 0.5px


::-webkit-scrollbar-thumb
    background-color: $dark3

.positive
    background: $green

.negative
    background: $red

.column
    display: flex
    flex-direction: column
.ellipsis
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
.center
    display: flex
    justify-content: center
    align-items: center

.title
    font-size: 26px
    font-weight: 600
    color: $dark1

.caption
  font-size: 12px
  font-weight: 400
  line-height: 18px
  color: $dark1

.body1
  font-size: 16px
  font-weight: 400
  line-height: 18px
  color: $dark1

    
*
    font-family: "Poppins" !important
    color: #FFF