@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura.ttc") format("truetype");
  font-weight: 400;
  font-style: normal; }

.ltr {
  direction: ltr; }

.max-tablet {
  display: none !important; }
  @media only screen and (max-width: 768px) {
    .max-tablet {
      display: block !important; } }

* {
  scrollbar-color: #DFDEEF;
  scrollbar-width: thin; }

::-webkit-scrollbar-track {
  background-color: #A5A2B5; }

::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
  background-color: #A5A2B5;
  height: 0.5px; }

::-webkit-scrollbar-thumb {
  background-color: #494857; }

.positive {
  background: #36FF9E; }

.negative {
  background: #FD5977; }

.column {
  display: flex;
  flex-direction: column; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  font-family: "Poppins" !important;
  color: #FFF; }

  @keyframes widthSpin {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(0.95); }
    100% {
      transform: scale(1); } }
  
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  
  @keyframes meshSpin {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(0.8); }
    100% {
      transform: scale(1); } }
  
  @keyframes filterAnimations {
    0% {
      filter: blur(0); }
    40% {
      filter: blur(5px); }
    90% {
      filter: blur(0); }
    100% {
      filter: blur(0); } }
  
  @keyframes boxshadow {
    0% {
      box-shadow: 0px 0px 0px 0px #2817ED80; }
    40% {
      box-shadow: 0px 0px 32px 0px #2817ED80; }
    90% {
      box-shadow: 0px 0px 0px 0px #2817ED80; }
    100% {
      box-shadow: 0px 0px 0px 0px #2817ED80; } }
  
  @keyframes gradient {
    0% {
      background-position: 5% 50%; }
    50% {
      background-position: 95% 50%; }
    100% {
      background-position: 5% 50%; } }
  