//Poppins-Black
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Black.ttf") format("truetype")
  font-weight: 900
  font-style : normal



//Poppins-ExtraBold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype")
  font-weight: 800
  font-style : normal

//Poppins-Bold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype")
  font-weight: 700
  font-style : normal



//Poppins-semiBold
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
  font-weight: 600
  font-style : normal


//Poppins-Medium
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype")
  font-weight: 500
  font-style : normal



//Poppins-regular
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype")
  font-weight: 400
  font-style : normal

//Poppins-light
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Light.ttf") format("truetype")
  font-weight: 300
  font-style : normal


//Poppins-ExtraLight
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype")
  font-weight: 200
  font-style : normal


//Poppins-thin
@font-face 
  font-family: "Poppins"
  src        : url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype")
  font-weight: 100
  font-style : normal


//Futura
@font-face 
  font-family: "Futura"
  src        : url("/fonts/Futura.ttc") format("truetype")
  font-weight: 400
  font-style : normal


.ltr
    direction: ltr

.max-tablet
    display: none !important
    +m
        display: block !important

.d-flex
    @include dis-flex

.flex-end
    @include dis-flex
    justify-content: flex-end

*
    scrollbar-color: $dark1 $dark1
    scrollbar-width: thin

::-webkit-scrollbar-track
    background-color: $dark2

::-webkit-scrollbar
    width: 4px
    border-radius: 20px
    background-color: $dark2
    height: 0.5px


::-webkit-scrollbar-thumb
    background-color: $dark3

.positive
    background: $green

.negative
    background: $red

.column
    display: flex
    flex-direction: column
.ellipsis
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
.center
    display: flex
    justify-content: center
    align-items: center
h1
    font-size: toRem(42) !important
h2
    font-size: toRem(34) !important
h3
    font-size: toRem(28) !important
h4
    font-size: toRem(24) !important
h5
    font-size: toRem(20) !important
h6
    font-size: toRem(18) !important
p
    font-size: toRem(16) !important

*
    font-family: "Poppins" !important
    color: #FFF