@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

  
html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button:disabled {
    background-color: #ddd;
    color: #444;
    cursor: not-allowed;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #c7c7c7;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #8b8b8b;
    border-radius: 20px;
}

.btn {
    @apply text-white rounded-xl md:rounded-2xl py-2 px-4 md:px-6 md:py-3 text-sm md:text-lg hover:shadow-btn transition-all hover:backdrop-blur-xl
}

.btn-blue {
    @apply bg-primary-400 shadow-btn border border-transparent hover:border-primary-400
}

.btn-dark {
    @apply hover:shadow-btn border border-primary-400 hover:bg-primary-400
}

.btn-blue:hover {
    background: linear-gradient(180deg, rgba(140, 220, 255, 0.1) 0%, rgba(140, 220, 255, 0) 100%);
}

.title {
    @apply text-2xl text-darkness-100 font-medium
}

.mesh {
    @apply absolute rounded-full blur-3xl
}

.btn-dark:hover {
    filter: 'drop-shadow(0px 0px 11px rgba(40, 23, 237, 0.5))';
}

.animate-up-down {
    animation: up-down 1s infinite;
}

.animate-underline::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    bottom: -3px;
}

.animate-underline:hover::before {
    animation: underline .5s forwards;
}
@keyframes up-down {
    0% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
    
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
}

@keyframes gradient {
    0% {
        background-position: 5% 50%
    }
        
    50% {
        background-position: 95% 50%
    }
    
    100% {
        background-position: 5% 50%
    }
}

@keyframes underline {
    0% {
        left: 0;
        width: 0px;
    }
    40% {
        left: 0;
        width: 100%;
    }
    60% {
        right: 0;
        width: 100%;
    }
    100% {
        right: 0;
        width: 0px;
    }
}